<!DOCTYPE html>
<html>
<head>
	<title>BraviaRemote</title>
	<link rel="stylesheet" type="text/css" href="css/layout.css">

	<script language="javascript" type="text/javascript">
	<!--
	function httpGet(theUrl)
	{
	    var xmlHttp = new XMLHttpRequest();
	    xmlHttp.open( "GET", theUrl, false );
	    xmlHttp.send( null );
	}
	-->
	</script>
</head>
<body>
<table border=0 class='outtable'>
	<tr>
		<td style="padding-bottom: 20px">
			<!-- <button id='widebutton' class="green" onClick="httpGet('/keypress/wake')">PowerOn</button> -->
			<img class='abutton' src="/assets/icons8-Play-104.png" onClick="httpGet('/keypress/wake')">
		</td>
		<td style="padding-bottom: 20px">
			<img class='abutton' src="/assets/icons8-Shutdown-104.png" onClick="httpGet('/keypress/poweroff')">
			<!-- <button id='widebutton' class="red" onClick="httpGet('/keypress/poweroff')">PowerOff</button> -->
		</td>
	</tr>
	<tr>
		<td style="padding-bottom: 20px">
			<img class='abutton' src="/assets/icons8-LowVolume-96.png" onClick="httpGet('/keypress/volumedown')">
			<!-- <button id='volbutton' class='voldown' onClick="httpGet('/keypress/volumedown')"></button> -->
		</td>
		<td style="padding-bottom: 20px">
			<img class='abutton' src="/assets/icons8-Speaker-96.png" onClick="httpGet('/keypress/volumeup')">
			<!-- <button id='volbutton' class='volup' onClick="httpGet('/keypress/volumeup')"></button> -->
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<table>
				<tr>
					<td><button class='numbutton' onClick="httpGet('/keypress/num1')">1</button></td>
					<td><button class='numbutton' onClick="httpGet('/keypress/num2')">2</button></td>
					<td><button class='numbutton' onClick="httpGet('/keypress/num3')">3</button></td>
				</tr>
				<tr>
					<td><button class='numbutton' onClick="httpGet('/keypress/num4')">4</button></td>
					<td><button class='numbutton' onClick="httpGet('/keypress/num5')">5</button></td>
					<td><button class='numbutton' onClick="httpGet('/keypress/num6')">6</button></td>
				</tr>
				<tr>
					<td><button class='numbutton' onClick="httpGet('/keypress/num7')">7</button></td>
					<td><button class='numbutton' onClick="httpGet('/keypress/num8')">8</button></td>
					<td><button class='numbutton' onClick="httpGet('/keypress/num9')">9</button></td>
				</tr>

				<tr>
					<td><button class='numbutton' onClick="httpGet('/keypress/num0')">0</button></td>
					<td><button class='numbutton' onClick="httpGet('/keypress/num11')">11</button></td>
					<td><button class='numbutton' onClick="httpGet('/keypress/num12')">12</button></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<table class='outtable'>
				<tr>
					<td>
					</td>
					<td class='centerall'>
					<img class='abutton' src="/assets/icons8-CollapseArrow-100.png" onClick="httpGet('/keypress/up')">
					</td>
					<td>
					</td>	
				</tr>
				<tr>
					<td class='centerall'>
					<img class='abutton' src="/assets/icons8-Back-100.png" onClick="httpGet('/keypress/left')">
					</td>
					<td class='centerall'>
					<img class='abutton' src="/assets/icons8-Ok-128.png" onClick="httpGet('/keypress/confirm')">
					</td>
					<td class='centerall'>
					<img class='abutton' src="/assets/icons8-Forward-100.png" onClick="httpGet('/keypress/right')">
					</td>	
				</tr>
				<tr>
					<td>
					</td>
					<td class='centerall'>
					<img class='abutton' src="/assets/icons8-ExpandArrow-100.png" onClick="httpGet('/keypress/down')">
					</td>
					<td>
					</td>	
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>