$voldown: "/assets/icons8-LowVolume-96.png";
$volup: "/assets/icons8-Speaker-96.png";
$arrleft: "/assets/icons8-Back-100.png";
$arrright: "/assets/icons8-Forward-100.png";
$arrup: "/assets/icons8-CollapseArrow-100.png";
$arrdown: "/assets/icons8-ExpandArrow-100.png";